{% extends "layout.html" %}
{% block content %}

<h2 class="section-title">Дни недели</h2>

<div class="list">
    <a class="item" href="/miniapp/day/1">Понедельник</a>
    <a class="item" href="/miniapp/day/2">Вторник</a>
    <a class="item" href="/miniapp/day/3">Среда</a>
    <a class="item" href="/miniapp/day/4">Четверг</a>
    <a class="item" href="/miniapp/day/5">Пятница</a>
    <a class="item" href="/miniapp/day/6">Суббота</a>
    <a class="item" href="/miniapp/day/0">Воскресенье</a>
</div>

<a class="btn-secondary" href="/miniapp/stats">Статистика</a>

{% endblock %}
